$main-font: SFProText;
$main-color: #ffffff;
$main-weight: 457;
$title-size: clamp(2.063rem, 1.833rem + 1.019vw, 2.75rem);
$question-font-size: clamp(1.125rem, 1rem + 0.556vw, 1.5rem);
$title-start-page-size: clamp(2.125rem, 1.708rem + 1.852vw, 3.375rem);
$title-margin-bottom:clamp(2.063rem, 1.646rem + 1.852vw, 3.313rem);
$title-weight: 700;
$main-font-size:clamp(1rem, 0.958rem + 0.185vw, 1.125rem);
$main-text-color: rgba(255, 255, 255, 0.5);
$section-padding-inline: clamp(0.625rem, -1.667rem + 10.185vw, 7.5rem);
$section-padding-bottom: clamp(5.938rem, 5.521rem + 1.852vw, 7.188rem);
$accent-color: #923BEC;
$element-back-color: rgba(24, 20, 75, 0.4);
$background-color:#0a1130;
$mark-size: 20px;
$mark-color: rgb(146 59 236 / 0.6);
$border-width: 1px;
$medium-font-weight: 556;
$semibold-font-weight: 656;
$light-font-weight: 350;
$padding-card: clamp(1.25rem, 1.042rem + 0.926vw, 1.875rem);
$bold-font-weight: 790;
$button-font-size: 18px;
$link-font-size: 18px;
$advantages-icon-size: 60px;
$advantages-img-size: 24px;
