section.start-page
  h1.start-page__title(id="start") The World’s Fastest #[span.accent Investing ] Platform
  img.start-page__img(src="./images/images/cards.png" alt="") 
  div.start-page__container 
    p.start-page__container__text Artificial intelligence based on neural networks
    p.start-page__container__text Analysis and compariso eurons in which will be
    p.start-page__container__text Taking into account the correlation of the objects
  div.bord.start-page__button-bord
    button(type="button").start-page__button Registration
